<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement("style");
      msViewportStyle.appendChild(
          document.createTextNode(
              "@-ms-viewport{width:auto!important}"
          )
      );
      document.getElementsByTagName("head")[0].
      appendChild(msViewportStyle);
    }
  </script>
  {{!-- begin Minneapolis header-footer custom elements --}}
  <!-- http://rtjminn.national.aaa.com/ghost -->
  <!-- WSS version 2019.10.21 -->
  <script type='text/javascript'>
    (function () {
      if (!window.headerFooterIsLoaded) {
        var a = document.getElementsByTagName('script')[0];
        var b = document.createElement('script');b.type = 'text/javascript';
        b.src = 'https://aaa-vendor-header-footer.millisite.com/init/index.js';
        a.parentNode.insertBefore(b, a);
        window.headerFooterIsLoaded = true;
      }
    })();
  </script>
  {{!-- end header-footer custom elements --}}

  <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" type="image/x-icon">

  {{!-- Styles'n'Scripts --}}
  {{!-- <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" /> --}}

  <link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">
  <link href="{{asset "css/animate.min.css"}}" rel="stylesheet">
  <link href="{{asset "css/flexnav.css"}}" rel="stylesheet">
  <link href="{{asset "css/font-awesome-4.6.3/css/font-awesome.min.css"}}" rel="stylesheet">
  <link href="{{asset "css/global-styles.css"}}" rel="stylesheet">
  <link href="{{asset "css/paymentscreen.css"}}" rel="stylesheet">
  {{!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --}}
  {{!-- WARNING: Respond.js doesn't work if you view the page via file:// --}}
  {{!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  {{!--[endif]--}}
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
  <script>
    var $buoop = {vs:{i:10,f:-8,o:-8,s:7,c:-8},unsecure:true,api:4};
    function $buo_f(){
      var e = document.createElement("script");
      e.src = "//browser-update.org/update.min.js";
      document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>

</head>
<body class="{{body_class}} nav-closed">

{{!-- HEADER --}}
<div id="topLoader" class="loaderPage">
  <img src="{{asset "images/spin.gif"}}">
</div>
{{!--
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}; height: 550px;  background-size: cover;  position: fixed; width: 100%; z-index: 0;  top: 0px;">
--}}

<input type="hidden" id="clubId" value="{{@blog.clubid}}">
<input type="hidden" id="clubZipCode" value="{{@blog.zipcode}}">
 <a href="javascript:UserLogin()" class="btn-full-blue visible-xs userheadertext">
   <i class="fa fa-lock" aria-hidden="true"></i>
   <!--My Account-->
 </a>

 {{!--header--}}

{{!--
  <div class="container">
  <div class="row">
  <div class="top-links">
  	<div class="col-sm-12">
    	<a  class="btn btn-blue hidden-xs userheadertext" href="javascript:UserLogin()"><i class="fa fa-lock" aria-hidden="true"></i> My Account</a>
    </div>
    </div>
  </div>
    </div>
--}}

    {{!-- container--}}

  {{!-- header end --}}

{{!--
</Header>
--}}

{{!-- nav --}}
{{!--
    <div class="nav-wrapper main-nav">

    <div class="container-wrapper">
    <div class="row">
    <div class="col-sm-1">
    {{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
   {{else}}
   <a href="{{@blog.url}}" class="logo"><img src="{{asset "images/aaa-logo.jpg"}}" alt="aaa-logo"></a>
   {{/if}}
    </div>
    <div class="col-sm-11">
      <div class="menu-button">&nbsp;</div>
        <nav>
		 <ul data-breakpoint="1199" class="flexnav">
--}}
{{!-- navigation links --}}
{{!--
  {{ navigation}}
	</ul>

</nav>
    </div>
    </div>
    </div>
    </div>
--}}
{{!-- nav container --}}

{{!-- div class="site-wrapper">--}}
{{!--  body wrapper--}}
<div class="wrapper">
  {{!-- banner --}}
  <wss-aaa-minneapolis-header></wss-aaa-minneapolis-header>
  {{!--
          <div class="top-ad ">
          <div class="container visible-md visible-lg">
          <div class="row">
          <div class="col-xs-12">
           <img src="{{image}}" class="img-responsive text-center top_add" alt="top banner add">

          </div>
          </div>
          </div>
          </div>
   --}}
  {{!-- left side ad --}}
  <div class="left-ad hidden-lr-ads">
    <img src="{{image_left}}" class="img-responsive text-center left_add" alt="banner left add">

  </div>
  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- right side ad --}}
  <div class="right-ad hidden-lr-ads">

    <img src="{{image_right}}" class="img-responsive text-center right_add" alt="banner right add">

  </div>
  <div class="top-ad visible-xs visible-sm">
    <div class="container">
      <div class="row">

        <img src="{{image}}" class="img-responsive text-center top_add" alt="top banner add">
      </div>
    </div>
  </div>
  {{!-- show left right ads at bottom together for full width content view (MOBIL)--}}

  <div class="container side-ads-bottom">
    <div class="row">
      <div class="col-xs-6">
        <img src="{{image_left}}" class="img-responsive  visible-lr-ads left_add" alt="left banner add">

      </div>
      <div class="col-xs-6">

        <img src="{{image_right}}" class="img-responsive  visible-lr-ads right_add" alt="">
      </div>
    </div>
  </div>{{!-- container --}}

  <div class="bottom-ad">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <img src="{{image_footer}}"  class="img-responsive footer_add" alt="footer banner add">
        </div>
      </div>
    </div>
  </div>
  {{!-- footer --}}
  <a href="#" class="scrollup">Scroll</a>

  <wss-aaa-minneapolis-footer></wss-aaa-minneapolis-footer>

  {{!--
  <footer>
  <nav class="hidden-1879">
      <div class="container">
      <div class="row">
      <div class="col-xs-12">

          <ul>
              {{ navigation}}
            </ul>

      </div>
      </div>
      </div>
  </nav>
  <div id="footer-content">
      <div class="container">

--}}
  {{!-- middle footer content --}}
  {{!--

    <div class="row">

        <div class="col-xs-12 col-md-12 col-1879 col-lg-4">
        <div class="banner-tab-wrapper">
          <img src="{{image_left}}" class="img-responsive tablet-ad left_add" alt="left banner add">
  --}}
        {{!--img src="{{asset "images/left-ad.jpg"}}" class="img-responsive tablet-ad" alt="">--}}
  {{!--
        </div>
        <div class="footer-content-wrapper">
        <div class="footer-content">
         {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
   {{else}}
   <a href="{{@blog.url}}"><img src="{{asset "images/aaa-logo.jpg"}}" alt="aaa logo"></a>
   {{/if}}


        <h3>Contact Us</h3>
        <address>

{{#get "posts" limit="all"  filter="tags:contact"}}
  {{#foreach posts}}
 {{content}}
   {{/foreach}}
{{/get}}

        </address>

     <nav class="visible-1879">
        <ul>
            {{ navigation}}
          </ul>
            </nav>
            </div>
</div>
--}}
{{!-- wrapper --}}
{{!--
<div class="banner-tab-wrapper">
  <img src="{{image_right}}" class="img-responsive tablet-ad right_add" alt="right banner add">
--}}
{{!--img src="{{asset "images/right-ad.jpg"}}" class="img-responsive tablet-ad" alt="">--}}
{{!--
</div>
        </div>
--}}
{{!-- col--}}
{{!--

        <div class="col-xs-12 col-md-12 col-1879 col-lg-8">
        <div class="wrath-content-box">
{{#get "posts" limit="all"  filter="tags:footer"}}
  {{#foreach posts}}
 {{content}}
   {{/foreach}}
{{/get}}

</div>
        </div>

    </div>
--}}
  {{!-- row --}}
{{!-- middle footer content end --}}
{{!--

    </div>{{!--container--}}{{!--
</div>
<div id="footer-disclaimer">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
{{#get "posts" limit="all"  filter="tags:footer-corporate"}}
  {{#foreach posts}}

 {{content}}

   {{/foreach}}
{{/get}}

        </div>
    </div>
</div>
--}}
{{!-- version tag --}}
{{!--
<small class="version">Theme# v1.4<br> Formcore# v0.9Z11<br> Nodeappserv# v0.95h</small>
</div>
</footer>
--}}

  {{!-- </div> end site wrapper --}}
 </div>
 {{!-- body wrapper end --}}


  {{!-- jQuery (necessary for Bootstrap's JavaScript plugins) --}}
  <script src="{{asset "js/jquery.min.js"}}"></script>
  {{!-- Fitvids makes video embeds responsive and awesome --}}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  {{!-- DEV jquery --}}
  <script type="text/javascript" src="{{asset "js/mustache.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/pathConfig.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/analyticConfig.js"}}"></script>

  {{!-- Include all compiled plugins (below), or include individual files as needed --}}
  <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/wow.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/jquery.flexnav.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/jquey.cookie.js"}}"></script>
  <script type="text/javascript" src="//www.aaa.com/configuration/SEM/AAA_ActionTags.js"></script>
  <script type="text/javascript" src="//www.aaa.com/configuration/SEM/LoggingCommon.js"></script>



  <script>
    includeformscripts();
  </script>

</body>
</html>
