{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header 
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title"{{@blog.title}}</h1>
            <h2 class="page-description"{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>--}}

{{!-- The main content area on the homepage --}}
<main  role="main" id="content-wrapper" class="main ">
<div class="container">
  <div class="row">
  <div class="col-xs-12">
  <div class="content-main-wrapper">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}

  {{> loop}}

</div>
</div>
</div>
</div>
</main>
