{{!-- default-->}}
<!DOCTYPE html>
<html lang="en">
  <head>


    {{!-- Document Settings --}}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{!-- Page Meta --}}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{!-- Mobile Meta --}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(
        document.createTextNode(
            "@-ms-viewport{width:auto!important}"
        )
    );
    document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
  }
</script>

{{!-- Brand icon --}}
<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" type="image/x-icon">

{{!-- Styles'n'Scripts --}}
<!--<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />-->

<link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">
<link href="{{asset "css/animate.min.css"}}" rel="stylesheet">
<link href="{{asset "css/flexnav.css"}}" rel="stylesheet">
<link href="{{asset "css/font-awesome-4.6.3/css/font-awesome.min.css"}}" rel="stylesheet">
<link href="{{asset "css/global-styles.css"}}" rel="stylesheet">
<link href="{{asset "css/paymentscreen.css"}}" rel="stylesheet">
{{!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --}}
{{!-- WARNING: Respond.js doesn't work if you view the page via file:// --}}
{{!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
{{!--[endif]--}}
{{!-- Ghost outputs important style and meta data with this tag --}}
{{ghost_head}}
<link href="{{asset "css/quick-renew-styles.css"}}" rel="stylesheet">
{{!-- begin Minneapolis header-footer custom elements --}}
<!-- http://rtjminn.national.aaa.com/ghost -->
<!-- WSS version 2019.10.21 -->
<script type='text/javascript'>
  (function () {
    if (!window.headerFooterIsLoaded) {
      var a = document.getElementsByTagName('script')[0];
      var b = document.createElement('script');b.type = 'text/javascript';
      b.src = 'https://aaa-vendor-header-footer.millisite.com/init/index.js';
      a.parentNode.insertBefore(b, a);
      window.headerFooterIsLoaded = true;
    }
  })();
</script>
{{!-- end header-footer custom elements --}}
</head>
<body class="{{body_class}} nav-closed">
<wss-aaa-minneapolis-header></wss-aaa-minneapolis-header>

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div id="topLoader" class="loaderPage">
    <img src="{{asset "images/spin.gif"}}">
  </div>
  <input type="hidden" id="clubId" value="{{@blog.clubid}}">
  <input type="hidden" id="clubZipCode" value="{{@blog.zipcode}}">
  <main class="content" role="main">
    <div class="">
      <article class="{{post_class}}">
        <section class="post-content">
          <div class="hideload" style="display:none">
            {{content}}
          </div>
        </section>
      </article>
    </div>
  </main>
{{/post}}

<wss-aaa-minneapolis-footer></wss-aaa-minneapolis-footer>

{{!-- jQuery (necessary for Bootstrap's JavaScript plugins) --}}
<script src="{{asset "js/jquery.min.js"}}"></script>
{{!-- Fitvids makes video embeds responsive and awesome --}}
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
{{!-- Ghost outputs important scripts and data with this tag --}}
{{ghost_foot}}
{{!-- DEV jquery --}}
<script type="text/javascript" src="{{asset "js/mustache.js"}}"></script>
<script type="text/javascript" src="{{asset "js/pathConfig.js"}}"></script>
<script type="text/javascript" src="{{asset "js/analyticConfig.js"}}"></script>

{{!-- Include all compiled plugins (below), or include individual files as needed --}}
<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/wow.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.flexnav.js"}}"></script>
<script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquey.cookie.js"}}"></script>
<script type="text/javascript" src="//www.aaa.com/configuration/SEM/AAA_ActionTags.js"></script>
<script type="text/javascript" src="//www.aaa.com/configuration/SEM/LoggingCommon.js"></script>

{{!-- just for quick renew --}}

<script>
  includeformscripts();
</script>
</body>
</html>
