{{!< default}}
{{#is "page"}}
{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}



{{!-- MAIN --}}
    <main id="content-wrapper" class="main">
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
    <div class="content-main-wrapper">
		 <article class="{{post_class}}">
     
           <section class="post-content">
            {{content}}
			<input id="post_image_left" type="hidden" value={{image_left}}>
			<input id="post_image_right" type="hidden" value={{image_right}}>
			<input id="post_image_top" type="hidden" value={{image}}>
			<input id="post_image_footer" type="hidden" value={{image_footer}}>
        </section>
    </article>
{{/post}}
{{#posts}}
{{#has tag="bottom-page-content"}}
 {{content}}
{{/has}}
{{/posts}}

{{#get "posts" limit="all"  filter="tags:bottom-page-content"}}
  {{#foreach posts}}
  
 {{content}}

   {{/foreach}}
{{/get}}
</div>
</div>
</div>
</div>
</main>
{{/is}}