/* WSS version 2019.08.22 */

/* hacks to deal with tst overrides */
#wss-roadside-assistance-button {
  padding: 0 !important;
}

/* legacy styles inherited from 2017-ish */
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Montserrat, sans-serif;
}

.wss-header {
  font-family: Montserrat, sans-serif;
  position: relative;
  max-width: 1410px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 200;
  z-index: 999;
}

.wss-page-topbar {
  position: relative;
  display: block;
  color: #fff;
  background-color: #00529b;
  margin-right: -15px;
  margin-left: -15px;
  height: 53px;
}

.wss-page-topbar ul.wss-menu-topbar > li:not(.wss-last) a:after {
  border-right: 2px solid #fff;
  content: "";
  position: absolute;
  top: 15px;
  right: -1px;
  height: 24px;
  width: 2px;
}

.wss-region-topbar-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

#wss-roadside-assistance-button {
  position: relative;
  background-color: #00a0df;
  float: left;
  cursor: pointer;
}

#wss-roadside-assistance-button a {
  display: inline-block;
  padding: 12px 16px 16px 56px;
}

a.wss-roadside-assistance-text {
  padding-left: 52px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.wss-roadside-assistance-text:before {
  content: "\e900";
  font-family: "icomoon", serif;
  font-size: 32px;
  position: absolute;
  top: 14px;
  left: 12px;
}

.wss-region-header-container .wss-roadside-assistance-mobile {
  display: block;
  right: 16px;
  border-color: #00a0df;
  font-size: 28px;
  font-family: "icomoon", serif;
  line-height: 30px;
  background-color: #00a0df;
  border-radius: 4px;
  position: absolute;
  top: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
  text-align: center;
  width: 46px;
  height: 30px;
  text-decoration: none;
  box-sizing: content-box;
}

.wss-region-header-container .wss-roadside-assistance-mobile:before {
  vertical-align: middle;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .wss-region-header-container .wss-roadside-assistance-mobile {
    display: none;
  }
}

ul.wss-menu-topbar > li:not(.wss-last) a:after {
  border-right: 2px solid #fff;
  content: "";
  position: absolute;
  top: 15px;
  right: -1px;
  height: 24px;
  width: 2px;
}

#wss-topbar-right {
  float: right;
}

#wss-topbar-right ul li a {
  position: relative;
  text-decoration: none;
  padding-left: 48px;
  padding-right: 0;
}

#wss-topbar-right ul li a:before {
  font-family: "icomoon", serif;
  font-size: 24px;
  position: absolute;
  top: 16px;
  left: 16px;
}

#wss-topbar-right ul li.wss-menu-my-account a:before {
  content: "\e913";
}

ul.wss-menu-topbar {
  border: none;
  list-style: none;
  text-align: left;
  margin: 0;
  padding-left: 0;
}

#wss-topbar-left {
  float: left;
}

ul.wss-menu-topbar > li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

ul.wss-menu-topbar > li a {
  float: left;
  padding: 16px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.wss-footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.wss-footer-group {
  padding: 32px 15px 48px; /* 32px 15px 48px */
  line-height: 22px;
  max-width: 1156px;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  font-weight: 400;
  color: #444444;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 544px) {
  .wss-region-topbar-container,
  .wss-footer-group {
    max-width: 544px;
  }
}

@media screen and (min-width: 768px) {
  .wss-region-topbar-container,
  .wss-footer-group {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .wss-region-topbar-container,
  .wss-footer-group {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .wss-region-topbar-container,
  .wss-footer-group {
    max-width: 1156px;
  }
}

@media only screen and (max-width: 543px) {
  .wss-footer-group {
    text-align: center;
  }
  .wss-slogan-logo {
    display: inline-block;
    float: none;
    width: auto;
    margin: 0 auto;
  }
}

.wss-footer a {
  color: #036ecd;
  text-decoration: none;
}

.wss-footer a:hover,
.wss-footer a:focus,
.wss-footer a.open {
  text-decoration: none;
  color: #00a0df;
}

.wss-footer-logo {
  float: right;
  max-width: 75px;
}

.wss-custom-text p {
  margin: 0;
  padding-bottom: 16px;
}

.wss-slogan {
  float: right;
  text-transform: uppercase;
  padding-right: 32px;
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  .wss-page-topbar {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .wss-slogan {
    max-width: 128px;
    margin-top: 4px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .wss-footer-logo.wss-slogan {
    max-width: 128px;
    margin-top: 4px;
    padding-right: 16px;
  }
}

.wss-navbar {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 7px 0 rgba(210, 210, 210, 0.5);
  -moz-box-shadow: 0 7px 7px 0 rgba(210, 210, 210, 0.5);
  box-shadow: 0 7px 7px 0 rgba(210, 210, 210, 0.5);
  height: 58px;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1001;
}

@media only screen and (max-width: 767px) {
  .wss-navbar .wss-logo {
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background-color: white;
    float: left;
    clear: both;
  }
}

@media only screen and (max-width: 767px) {
  .wss-navbar .wss-logo > img {
    width: 65px;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    border: 0;
    text-align: center;
  }
}

/*
.wss-region-header-container {
  margin-right: -15px;
  margin-left: -15px;
}
*/

ul#menu > li:after {
  content: "\f054";
  font-family: "icomoon", serif;
  position: absolute;
  top: 12px;
  right: 19px;
  color: #00a0df;
}

/* ******************** Start new code that broke header */
/*Strip the ul of padding and list styling*/
ul#wss-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 288px;
  width: auto;
}

/*Create a horizontal list with spacing*/
#wss-menu li {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 1px;
  text-align: left;
  border-left: none;
  padding: 0 16px;
  width: 100%;
  margin-left: 0;
}

/*Style for menu links*/
#wss-menu li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #036ecd;
  padding: 16px 16px 16px 48px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-left: none;
  box-sizing: content-box;
}

/*Style 'show menu' label button and hide it by default*/
.wss-show-menu {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #444;
  text-align: center;
  padding: 10px 0;
  display: none;
  position: absolute;
  top: 8px;
  border-width: 1px;
  border-style: solid;
  width: 64px;
  height: 18px;
  align-items: flex-start;
  border-color: #000;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  left: 16px;
}

/*Hide checkbox*/
.wss-header input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
.wss-header input[type=checkbox]:checked ~ #wss-menu {
  display: block;
}

/*Responsive Styles*/

@media screen and (max-width: 767px) {
  /*Make dropdown links appear inline*/
  ul#wss-menu {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  ul#wss-menu li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul#wss-menu ul li, li a {
    width: 255px;
  }
  /*Display 'show menu' link*/
  .wss-show-menu {
    display: block;
    box-sizing: content-box;
  }
}

ul#wss-menu {
  position: absolute;
  top: 59px;
  background-color: #fff;
  max-width: 288px;
  width: auto;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #cccccc;
  left: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

ul#wss-menu > li > a:before {
  top: 10px;
  left: 20px;
  color: #666666;
  font-size: 24px;
  line-height: 28px;
  font-family: "icomoon", serif;
  position: absolute;
}

ul#wss-menu > li.wss-menu-my-account > a:before {
  content: "\e913";
  left: 22px;
  font-size: 25px;
}

ul#wss-menu > li.wss-menu-locations > a:before {
  content: "\e952";
}

ul#wss-menu > li.wss-menu-sj-first > a:before {
  content: "\e971";
}

ul#wss-menu > li.wss-menu-membership > a:before {
  content: "\e934";
}

ul#wss-menu > li.wss-menu-travel > a:before {
  content: "\e935";
}

ul#wss-menu > li.wss-menu-stories > a:before {
  content: "\e92e";
}

ul#wss-menu > li.wss-menu-discounts > a:before {
  content: "\e931";
}

ul#wss-menu > li.wss-menu-auto-services > a:before {
  content: "\e930";
}

ul#wss-menu > li.wss-menu-insurance > a:before {
  content: "\e933";
}

ul#wss-menu > li.wss-menu-financial > a:before {
  content: "\e932";
}

ul#wss-menu > li.wss-menu-towicon > a:before {
  content: "\e900";
  top: 18px;
  color: #fff;
  font-size: 32px;
}

ul#wss-menu li.wss-menu-towicon {
  margin-top: -2px;
  background-color: #00a0df;
  border: none;
  width: 256px;
  margin-right: 0;
  margin-bottom: 0;
  box-sizing: content-box;
}

ul#wss-menu li.wss-menu-towicon a {
  border: none;
  color: #fff;
}

ul#wss-menu li a {
  width: 192px;
}

.wss-icon-towicon:before {
  content: "\e900";
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .wss-header {
    font-size: 14px;
  }

  .wss-navbar {
    height: 82px;
  }

  .wss-page-topbar,
  #wss-roadside-assistance-button {
    height: 45px;
  }

  #wss-roadside-assistance-button a {
    padding-top: 12px;
  }

  .wss-region-header-container {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .wss-navbar a.wss-logo {
    padding: 16px 0;
    float: left;
    font-size: 17px;
    box-sizing: border-box;
    clear: both;
  }

  .wss-navbar a.wss-logo img {
    width: 96px;
    margin-top: 3px;
  }

  ul#wss-menu {
    position: relative;
    border: none;
    box-shadow: none;
    width: 85%;
    text-align: left;
    margin: 8px 0 0 8px;
    top: 0;
    float: left;
    max-width: none;
  }

  ul#wss-menu li {
    padding: 16px 0 0;
    margin-right: 0;
  }

  ul#wss-menu.percent-14-2 li {
    width: 14.2%;
  }

  ul#wss-menu.percent-16-6 li {
    width: 16.6667%;
  }

  ul#wss-menu li a {
    color: #666;
    border-left: 1px solid #cccccc;
    border-bottom: none;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    padding: 28px 0 0;
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    line-height: 19px;
  }

  ul#wss-menu li a span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
  }

  ul#wss-menu > li.wss-menu-membership a {
    border-left: none;
  }

  ul#wss-menu > li.wss-main > a:before {
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  ul#wss-menu li.wss-menu-my-account {
    display: none;
  }

  ul#wss-menu li.wss-menu-locations,
  ul#wss-menu li.wss-menu-sj-first {
    display: none;
  }

  ul#wss-menu li.wss-menu-towicon {
    display: none;
  }

  a.wss-roadside-assistance-text {
    font-size: 14px;
    padding-left: 40px;
  }

  .wss-roadside-assistance-text:before {
    font-size: 28px;
    top: 12px;
  }

  #wss-topbar-right ul li a:before {
    font-size: 16px;
    top: 12px;
  }

  ul.wss-menu-topbar > li a {
    padding: 12px 16px;
  }

  ul.wss-menu-topbar > li:not(.wss-last) a:after {
    top: 11px;
    height: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .wss-header {
    font-size: 15px;
    line-height: 15px;
  }

  .wss-navbar {
    height: 122px;
  }

  .wss-page-topbar,
  #wss-roadside-assistance-button {
    height: 51px;
  }

  #wss-roadside-assistance-button a {
    padding-top: 16px;
  }

  ul#wss-menu {
    width: 75%;
    margin: 0 0 0 32px;
  }

  ul#wss-menu li {
    padding: 28px 0 0;
  }

  ul#wss-menu li a {
    color: #666;
    border-left: 1px solid #cccccc;
    border-bottom: none;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    padding: 28px 0 0;
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    line-height: 19px;
  }

  .wss-navbar a.wss-logo {
    padding: 12px 0;
    font-size: 15px;
    line-height: 19px;
  }

  .wss-navbar a.wss-logo img {
    width: 144px;
  }

  .wss-region-header-container {
    max-width: 960px;
  }

  a.wss-roadside-assistance-text {
    font-size: 15px;
    padding-left: 52px;
  }

  .wss-roadside-assistance-text:before {
    font-size: 32px;
    top: 14px;
  }

  #wss-topbar-right ul li a:before {
    font-size: 24px;
    top: 16px;
  }

  ul.wss-menu-topbar > li:not(.wss-last) a:after {
    top: 15px;
    height: 24px;
  }

  ul#wss-menu > li.wss-main > a:before {
    font-size: 33px;
    line-height: 40px;
  }

  ul#wss-menu li a {
    padding-top: 44px;
  }

  ul#wss-menu li a span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .wss-header {
    font-size: 16px;
    line-height: 16px;
  }

  .wss-navbar {
    height: 123px;
  }

  .wss-page-topbar,
  #wss-roadside-assistance-button {
    height: 53px;
  }

  #wss-roadside-assistance-button a {
    padding-top: 16px;
  }

  .wss-region-header-container {
    max-width: 1156px;
  }

  ul#wss-menu {
    margin-left: 35px;
  }

  a.wss-roadside-assistance-text {
    font-size: 17px;
  }

  .wss-navbar a.wss-logo img {
    font-size: 17px;
  }

  ul#wss-menu li a span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

body > table {
  margin-left: auto;
  margin-right: auto;
}
