<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400">
<link rel="stylesheet" href="https://www.aaa.com/AAA/057/header-footer-057/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/057/header-footer-057/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/057/header-footer-057/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/057/header-footer-057/css/style-icomoon.css">

<div class="wss-footer">
  <div class="pure-g wss-footer-group">
    <div class="pure-u-1 pure-u-sm-2-3 wss-custom-text">
      <div>
        &copy; 2019 AAA Minneapolis |
        <a href="https://minneapolis.aaa.com/privacy-policy">
          Privacy Policy
        </a>
      </div>
      <div>
        AAA Minneapolis serves Hennepin County, and parts of Columbia Heights, Hilltop, Fridley, & Spring Lake Park.
      </div>
      <div>
        If you live in a different area, find your local AAA club
        <a href="http://www.aaa.com/stop">
          here
        </a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 wss-slogan-logo">
      <img class="pure-img wss-footer-logo" src="https://www.aaa.com/AAA/057/header-footer-057/images/aaa-msp-400x243.png" alt="AAA Logo"/>
    </div>
  </div>
</div>
