<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://www.aaa.com/AAA/006/header-footer-006/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/006/header-footer-006/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/006/header-footer-006/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/006/header-footer-006/css/style-icomoon.css">

<div class="wss-footer">
  <div class="pure-g wss-footer-group">
    <div class="pure-u-1 pure-u-sm-2-3 wss-custom-text">
      <p>
        &copy;&nbsp;AAA&nbsp;Colorado
        |
        <a href="https://www.colorado.aaa.com/privacy-terms-notices">
          Privacy, Terms & Notices
        </a>
        |
        <a href="http://www.aaa.com/stop">
          Visit&nbsp;Other&nbsp;AAA&nbsp;Clubs
        </a>
        <br>
        Serving Colorado Since 1922
      </p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 wss-slogan-logo">
      <img class="pure-img wss-footer-logo" src="https://www.aaa.com/AAA/006/header-footer-006/images/aaa-colorado-logo.png" alt="AAA Logo"/>
    </div>
  </div>
</div>
