<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-icomoon.css">

<div class="wss-header">
  <div class="wss-header-group">
    <div class="wss-page-topbar">
      <div class="wss-region-topbar-container">
        <div id="wss-roadside-assistance-button">
          <a class="wss-roadside-assistance-text" href="http://www.aaa.com/roadside">
            Roadside Assistance
          </a>
        </div>
        <div class="wss-region-topbar">
          <div id="wss-topbar-left">
            <ul class="wss-menu-topbar">
              <li class="wss-last">
                <a href="https://www.colorado.aaa.com/locations">
                  AAA Locations
                </a>
              </li>
            </ul>
          </div>
          <div id="wss-topbar-right">
            <ul class="wss-menu-topbar">
              <li class="wss-last wss-menu-my-account">
                <a href="https://www.colorado.aaa.com/myaccount">
                  My Account
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wss-navbar">
      <div class="wss-region-header-container">
        <a class="wss-logo" href="https://www.colorado.aaa.com" title="Home">
          <img src="images/aaa-colorado-logo.png" alt="Home"/>
        </a>
        <label for="wss-show-menu" class="wss-show-menu">
          Menu
        </label>
        <input type="checkbox" id="wss-show-menu" role="button">
        <a class="wss-roadside-assistance-mobile wss-icon-towicon" href="http://www.aaa.com/roadside"></a>
        <ul id="wss-menu" class="percent-14-2">
          <li class="wss-menu-my-account">
            <a href="https://www.colorado.aaa.com/myaccount">
              My Account
            </a>
          </li>
          <li class="wss-menu-locations">
            <a href="https://www.colorado.aaa.com/locations">
              AAA Locations
            </a>
          </li>
          <li class="wss-main wss-menu-membership">
            <a href="https://www.colorado.aaa.com/membership">
              <span>
                Membership
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-auto-services">
            <a href="https://www.colorado.aaa.com/automotive">
              <span>
                Auto Services
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-insurance">
            <a href="https://www.colorado.aaa.com/insurance">
              <span>
                Insurance
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-travel">
            <a href="https://www.colorado.aaa.com/travel">
              <span>
                Travel
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-stories">
            <a href="https://www.colorado.aaa.com/stories">
              <span>
                Stories
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-discounts">
            <a href="https://www.colorado.aaa.com/discounts">
              <span>
                Discounts
              </span>
            </a>
          </li>
          <li class="wss-main wss-menu-financial">
            <a href="https://www.colorado.aaa.com/financial">
              <span>
                Financial
              </span>
            </a>
          </li>
          <li class="wss-menu-towicon">
            <a href="http://www.aaa.com/roadside">
              Need Emergency
              <br>
              Road Service?
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
