@charset "utf-8";
/* CSS Document 

AAA Member Sign Up By Next Horizon
Colors *****************************************
Red...................... #D81E05
Blue..................... #003893
Grey text................ #33333
Light blue............... #3373B1
background grey ......... #E5E5E5

Font *****************************************

Google Fonts body - Roboto
*/
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,300';

/*
Global
*/
body, html {height: 100%; font-size:18px; line-height:1.3em; color: #33333; background-color:#E5E5E5; font-family: 'Lato', sans-serif;}
.container-fluid { padding-right:0px; padding-left:0px;}
.container-wrapper {margin: 0px auto;}
.btn {-webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; display:inline-block}
.btn-blue, .btn-full-blue { background-color:#003893}
.btn-full-blue{ width:100%;text-align: center;padding: 15px 0px;}
a.btn-blue, a.btn-full-blue { color:#fff;}
a:hover.btn-blue, a:hover.btn-full-blue{ color:#ccdcec}
.wrapper {background-color: #E5E5E5;  width: 100%;  position: relative;  top: 500px; z-index:10; }
main li { margin-bottom: .2em; margin-top: .2em; }
h1 { color:#003893; font-size:30px; font-weight:700}
h2 {color:#003893; font-size:20px; font-weight:700}
h3 {color:#003893; font-size:18px; font-weight:700}
h4, .h4 { color: #003893; font-weight: bold; }
.content-main-wrapper a {color:#003893; font-weight:700; text-decoration:none}
.content-main-wrapper a:visited { color:#003893;}
.content-main-wrapper a:hover {color:#333;}
.red { color:#D81E05;}
.green { color:#268822!important}
* {
    text-rendering: optimizeLegibility;
}

/*
Header
*/
header {/*background: url('../images/header-bg.jpg') no-repeat;*/ }

.top-links {margin-top:20px;}
.top-links a.btn-blue {float:right;}
/*
nav
*/
.nav-wrapper {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c68ac+0,265c9c+100 */
background: #2c68ac; /* Old browsers */
background: -moz-linear-gradient(top,  #2c68ac 0%, #265c9c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c68ac 0%,#265c9c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c68ac 0%,#265c9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c68ac', endColorstr='#265c9c',GradientType=0 ); /* IE6-9 */
    top: 210px;
    height: 56px;
    width: 100%;
    z-index: 100000;
    position: fixed; padding: 0px; }  
.nav-wrapper .col-sm-10, . nav-wrapper col-sm-2 { padding-left:0px; padding-right:0px;}
a.logo {position: absolute; margin-top: -7px; -webkit-box-shadow: 1px 1px 5px 1px #333;  box-shadow: 1px 1px 5px 1px #333;}
.main-nav-scrolled { position: fixed; width: 100%;  top: -134px;}
.nav-wrapper nav ul img { float:left; margin-top:5px;}
.nav-to-top { top:11px!important;  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
i.navicon { font-style:normal!important;}
/*SCROLL*/
.scrollup { width: 47px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/uparr-48-w.png') no-repeat;
    background-color: #003893;
	z-index:500
}



/*
Top and Bottom & left and right ads
*/

.left-ad { float:left; width:17%;    display: block;  border: thin solid transparent;}
.right-ad {float: left; width: 17%; left: 0px; padding: 0px;}
/*.right-ad img { float:right; }*/
.left-ad img { float:right;}
.top-ad img, .side-ads-bottom img { margin:0px auto;}
.top-ad {    margin: 29px 0 45px 0px; padding-top:40px; }
.bottom-ad { margin-top:29px;}
.bottom-ad img { margin:0px auto;}
.bottom-ad .container { text-align:center;}

.top-ad img[src=""] {display: none;}
.bottom-ad  img[src=""] {display: none;}
.left-ad  img[src=""] {display: none;}
.right-ad  img[src=""] {display: none;}
.banner-tab-wrapper img[src=""] {display: none;}

/*
main
*/
.content-main-wrapper { background:#fff; padding: 40px 30px 10px 30px;}
.img-circle { position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;}
.img-circle  img { height:100%}


/* Footer */
footer { margin-top:40px;}
footer nav { /*margin: 40px 0px;*/ background: #2c68ac; /* Old browsers */
background: -moz-linear-gradient(top,  #2c68ac 0%, #265c9c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c68ac 0%,#265c9c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c68ac 0%,#265c9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c68ac', endColorstr='#265c9c',GradientType=0 ); /* IE6-9 */ 
text-align:center; margin:0px auto;
}
footer nav ul {list-style-type:none; padding:0px; display:inline-block; margin-bottom:-7px;}
footer nav li {float:left;}
footer nav a {display: inline-block;  padding: 10px 15px;  z-index: 2; overflow: hidden;  color: #fff;  text-transform: capitalize;}
footer nav a:hover { color:#fff;}
footer nav img {margin-top: 7px}
footer nav img:last-child { display: none;}
footer a.last {border:none;}
#footer-content {background-color:#fff; padding: 60px 0px 40px 0px;}
#footer-disclaimer { text-align:center; padding:40px 0px;}
footer nav ul img { float:left;}
.visible-1879 { display:none;}
#footer-content .col-sm-12, #footer-content .col-md-12 {padding-left:0px; padding-right:0px}
.tablet-ad {display:none;}
.banner-tab-wrapper{ width: 27%; float: left;display: block; border: thin solid transparent;}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

 
 
	/*==========  Mobile First Method  ==========*/
 
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
 .container-wrapper { width:320px;}
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
 .container-wrapper { width:480px;}
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
 .container-wrapper { width:768px;}

	}
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 .container-wrapper { width:992px;}
	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 		.container-wrapper { width:1270px;}
		 
	}
  @media only screen and (min-width:1868px){ 
.visible-lr-ads { display:none;}
 #content-wrapper { float:left; width:64%}
 }
 
 
	/*==========  Non-Mobile First Method  ==========*/
 @media only screen and (max-width:1868px){ 
 .hidden-lr-ads { display:none}
 #content-wrapper { margin-bottom:25px;}
  .col-1879 { width:100%!important; text-align:center}
.hidden-1879{ display:none;}
.visible-1879 { display:block!important}
footer nav img { display: none;}

#footer-content, #footer-content img { text-align:center;}
span.merch-logo { text-align: center!important; display: inherit;}
 }
 @media (min-width: 992px) and (max-width: 1868px){
	  .visible-lr-ads { display: none;}
	  .tablet-ad { display:block;}
	  .tablet-ad img[src=""] {display: none!important;}
img.tablet-ad {/* width: 90%;*/ text-align: center; margin: 0px auto; }
  #footer-content .container { width:100%!important;}
  .footer-content row {  padding-right:0px; padding-left:0px;}
  .footer-content-wrapper { float:left; width:46%;}
  footer nav li {float:none; text-align:center; width:100%}
   footer nav a { padding:6px 0px; margin:0px auto; border-right: none;}
    footer nav ul { padding:13px 0px;}
	 #nav { margin-top:0px;}
 footer nav ul { padding:15px 0px;}
footer nav a {padding: 3px 0px;  font-size: 17px; line-height: .7em; text-transform: uppercase;}

.wrath-content-box p { text-align:left;     padding: 20px 10px 10px;}

address { font-size:15px;}
.scrollup { right:25px;}
.bottom-ad, .top-ad { margin-top:20px}
	 }
 @media (min-width: 768px) and (max-width: 1200px){ 
 img.tablet-ad { width: 90%; text-align: center; margin: 0px auto; }
 }
	 
 @media (min-width: 768px) and (max-width: 992px){
.tablet-ad { display:block!important;}

  #footer-content .container { width:100%!important;}
  .footer-content row {  padding-right:0px; padding-left:0px;}
  .footer-content-wrapper { float:left; width:46%;}

   .visible-lr-ads { display:none!important;}
   footer nav ul { padding:13px 0px;}

 }
 
	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px){

	}
 
	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px){
 #nav { margin-top:0px;}
 .version {font-size: 65%; line-height: 1.2em; float: left; text-align: left;  padding: 10px;}
 footer nav ul { padding:15px 0px;}
 footer nav li {float: none; text-align: center; width: 100%;}
footer nav a {padding: 3px 0px;  font-size: 17px; line-height: .7em;}
 .wrath-content-box{ padding: 20px 10px 10px;}
  .wrath-content-box p{text-align: left; }
 .wrath-content-box p img { text-align: center!important; margin: 0px auto; }
address { font-size:15px;}
.scrollup { right:25px;}
.bottom-ad, .top-ad { margin-top:20px}
	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px){
 .content-main-wrapper {padding: 3px 10px 10px 10px;}
 header { height:287px}
 .nav-wrapper { top:146px}
 .top-ad { margin-top:0px!important; padding-top:0!important;}
 .wrapper {top: 249px;}
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px){
 
	}
 
	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px){
 
	}
    
@media only screen and (max-width: 652px) {
  #content-wrapper .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
.loaderPage{position: fixed; width:100%; height: 100%; z-index: 999999; background: #fff; opacity: 0.8;display: none; top:0; left:0;}
.loaderPage img{position: absolute;width: 100px; height: 100px; margin: auto; top:0; left: 0; right: 0; bottom: 0;}

@media screen and (max-width:650px){
	.loaderPage img{width: 70px; height: 70px;}
}   