<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400">
<link rel="stylesheet" href="https://www.aaa.com/AAA/104/header-footer-104/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/104/header-footer-104/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/104/header-footer-104/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/104/header-footer-104/css/style-icomoon.css">

<div class="wss-footer">
  <div class="pure-g wss-footer-group">
    <div class="pure-u-1 pure-u-sm-2-3 wss-custom-text">
      <p>
        &copy;&nbsp;2019&nbsp;AAA&nbsp;Northway
        |
        <a href="https://www.northway.aaa.com/privacy-policy">
          Privacy Notice
        </a>
        |
        <a href="https://www.northway.aaa.com/terms-conditions">
          Terms and Conditions
        </a>
        |
        <a href="http://www.aaa.com/stop">
          Go&nbsp;to&nbsp;Other&nbsp;AAA&nbsp;Clubs
        </a>
        <br>
        Serving Broome, Chemung, Chenango (Town of Greene), Clinton, Delaware (Town of Deposit), Essex, Franklin, Fulton, Hamilton, Montgomery, Saratoga [except Stillwater, Waterford and Mechanicville], Schenectady, Tioga, Warren and Washington counties.
      </p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 wss-slogan-logo">
      <img class="pure-img wss-footer-logo" src="https://www.aaa.com/AAA/104/header-footer-104/images/wss-aaa-logo.png" alt="AAA Logo" />
    </div>
  </div>
</div>
