/* Flexnav Base Styles */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
 }
  
  
  
  .flexnav.opacity {
    opacity: 0; }
  .flexnav.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .flexnav.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  .flexnav li {
    font-size: 100%;
    position: relative;
    overflow: hidden; }
	
  .flexnav li a { position: relative; display: inline-block; padding: 0px 15px; z-index: 2;  overflow: hidden; color: #fff;/* background: #a6a6a2; */    /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */  text-transform: uppercase;  /*border-right: thin solid #5590d3;*/}
  .flexnav li ul {
    width: 100%; }
    .flexnav li ul li {
      font-size: 100%;
      position: relative;
      overflow: hidden; }
  .flexnav li ul.flexnav-show li {
    overflow: visible; }
  .flexnav li ul li a {
    display: block;
    background: #b2b2af; }
    .flexnav li:last-child {border-bottom: 0px;}
  .flexnav ul li ul li a {
    background: #bfbfbc; }
  .flexnav ul li ul li ul li a {
    background: #cbcbc9; }
  .flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.075);
    text-align: center; }
    .flexnav .touch-button:hover {
      cursor: pointer; }
    .flexnav .touch-button .navicon {
      position: relative;
      top: 1.4em;
      font-size: 12px;
      color: #666; }

.menu-button {
  position: relative;
  display: block;
  padding: 1em;
/*  background: #a6a6a2;*/
  color: #222222;
  cursor: pointer;
/*  border-bottom: 1px solid rgba(0, 0, 0, 0.2); */}
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;}
    .menu-button .touch-button .navicon { font-size: 70px;  position: relative;  top: 15px;  color: #fff; border:none; background: transparent;}	  
	 
.oldie body.one-page {
  padding-top: 70px; }
.oldie .flexnav {
  overflow: visible; }
  .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .flexnav li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .flexnav li ul li ul {
    top: 0; }
  .oldie .flexnav li ul li a {
    border-bottom: none; }
  .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li ul.open li {
      width: 100%; }
    .oldie .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .flexnav li {
  width: 19.9%; }

	 
	 
	 @media only screen and (min-width : 897px) and (max-width : 899px){
		  ul.flexnav { margin-left:23px}
		  .flexnav li a {padding: 0px 1px 0px 19px; }
		  }
@media only screen and (min-width : 740px) and (max-width : 1199px){
ul.flexnav { width:40%!important;}
}

@media (max-width:1199px){
	ul.flexnav {  background-color: #3373B1; margin-top: -2px;  padding: 30px 0px 10px 20px;   float: right;}
	ul.flexnav li a{ line-height:2em; border-right: none;  width:90%}
  ul.flexnav li {border-bottom: thin solid #5590d3; width: 93%}
 nav ul img { display: none;}	
	
	}
@media all and (min-width:1200px) {
  body.one-page {
    padding-top: 70px;}

  .flexnav {
    overflow: visible;
	 }
    .flexnav.opacity {
      opacity: 1; }
    .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }

    .flexnav li { position: relative; list-style: none; float: left; display: block;  /* background-color: #a6a6a2; */ overflow: visible; margin: 0px; /* width: 10%; */
/*    padding: 19px 0px;*/ border-bottom: none; }
  .flexnav img:last-child { display: none;}
	.flexnav li:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#357ed1+0,2e6fbc+100 */
background: #357ed1; /* Old browsers */
background: -moz-linear-gradient(top,  #357ed1 0%, #2e6fbc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #357ed1 0%,#2e6fbc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #357ed1 0%,#2e6fbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357ed1', endColorstr='#2e6fbc',GradientType=0 ); /* IE6-9 */}
	.flexnav li a:hover { text-decoration:none; 
}

    .flexnav li a {
/*      border-left: 1px solid #acaca1;*/
         margin-top: 17px;
    height: 35px; }
    .flexnav li > ul {
      position: absolute;
      top: auto;
      left: 0; }
      .flexnav li > ul li {
        width: 100%; }
    .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .flexnav li ul li a {
      border-bottom: none; }
    .flexnav li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      .flexnav li ul.open li {
        overflow: visible;
        max-height: 100px; }
      .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  .menu-button {
    display: none; } 

	
	}
	
