@import url('https://fonts.googleapis.com/css?family=Lato');

.creNumberLabel label{font-size:0px; font-weight:600; color:#333;margin-bottom:5px;display:block;font-family: 'Lato', sans-serif;}
.creCVV2Label label{font-size:0px; font-weight:600; color:#333;margin-bottom:5px;display:block;font-family: 'Lato', sans-serif;}
.creExpirationLabel label{font-size:0px; font-weight:600; color:#333;margin-bottom:5px;display:block;font-family: 'Lato', sans-serif;}
.creNameLabel label{font-size:0px; font-weight:600; color:#333;margin-bottom:5px;display:block;font-family: 'Lato', sans-serif;}
.creTypeRow label{font-size:0px; font-weight:600; color:#333;margin-bottom:5px;display:block;font-family: 'Lato', sans-serif;}

 

#ccNumber{border-radius:3px;height:2.0em;border: 1px solid #cccccc;width:299px; font-size:inherit;}
.mainTable{max-width:1000px;}
.mainTable td{display:block;}
.creAmountField,.creNameField,.creNumberField,.creCVV2Field,.creTypeField,.creExpirationMonthField,.creExpirationYearField,.creTypeField{border-radius:3px;height:2.0em;border: 1px solid #cccccc; font-size:inherit; }
.creTypeField{width:110px;}
.creNameField,.creAmountField{width: 280px;padding: 5px 10px;height: 23px;}

.creCVV2Field{width:80px;padding: 0px 10px;}
.creExpirationMonthField option,.creExpirationYearField  option{width:10px;padding: 0px 10px;}

.creCVV2WhatLink,.cancelButton{display:none;}
.completeButton,.cancelButton{-webkit-border-radius: 4px 4px 4px 4px;border: 0;background-color: #003893;border-radius: 4px;color: #ffffff;min-height: 40px;min-width: 120px; line-height:1.3em; font-size:18px; padding:0px 10px; }
.creNameRow,.creAmountRow{width:300px;display:inline;float:left;margin-right:40px;margin-bottom:20px; padding-top:15px;}
.creCVV2Row{width:135px !important; }
.creCVV2Row,.creTypeRow,.creTypeRow {width:175px;display:inline;float:left; padding-top:15px;}

.creNumberRow{width:172px;display:inline;float:left;margin-right:33px;padding-top:15px;}
#expYear{float: left;margin-left: 15px;width: 80px;}
#expMonth{width:80px; float:left;}
.creButtonRow{float:right;margin-top: 20px;margin-right: 77px;}
#secureFrame{padding:0px !important}

.creAmountRow{display:none;}
.creNameRow{margin-top: 80px;}
.creNumberRow{margin-left: -341px;}

.creExpirationRow {float: left; width: 51%;}
.creExpirationLabel {display: inline-block; width: 100%; padding-top: 15px;}
.creExpirationRow td Select{display: inline-block; width: 100%;}

/*#completeButton .finishedCompleteButton:before {
    content: "Please Wait";
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #003893;
    position: absolute;
    color: #fff;
}*/



.creNumberLabel > label:before {
content: "Credit Card Number";
color: #333;
display: block;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}

.creCVV2Label > label:before {
content: "CVV";
color: #333;
display: block;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}


.creExpirationLabel > label:before {
content: "Expiration Date";
color: #333;
display: block;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}


.creNameLabel > label:before {
content: "Name on card";
color: #333;
display: block;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}

.creTypeLabel > label:before {
content: "Card";
color: #333;
display: block;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
}

.creNumberRow{width:190px;}

@media screen and (max-width : 990px) {
 .creButtonRow{margin-top: 38px;}
}

@media screen and (max-width : 540px) {
 .creNameRow, .creAmountRow{margin-bottom:0} 
 .creButtonRow{float:left;margin-top:20px;}
 .creExpirationRow{width:100%;}
}

@media screen and (max-width : 410px) {
 .creNumberRow{ margin-left:-341px;width:auto;}
 .creNameField, .creAmountField{width:235px}
 .content-form{overflow:hidden;}
#PaymentInformation .content-form .field-full{/*overflow-x:hidden;width:350px*/}
 #ccNumber{width:255px;}
}


#credit-card-number{border-radius:3px !important;height:2.0em !important;border: 1px solid #cccccc !important;width:299px !important; font-size:inherit !important;}



.main .form .form-row {
    display: block;
    padding: 10px 0;
    width: 50%;
	padding: 10px 0;
    float: left;
	position:relative;
	/*height:80px;*/
}
.main .form .form-row input{
	padding:0 10px !important;
}
.main .form .form-row .form_label{
	width: 100%;
    text-align: left;
	margin-bottom:5px;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	color: #333;
	font-size:18px;
}
.main .form .form-row  .form_select{
	height: 2.0em !important;
	width: 60px;
    padding: 0px;
	border-radius:3px;
	font-size:16px;
}
.main .form .form-row  .form_select--year{
	width:80px;
}
.main .form .form-row .form_input--text{
	height: 2.0em !important;
    font-size: inherit !important;
	border-radius:3px;
	border: 1px solid #cccccc !important;
	padding:0 5px;
}

.main .form .form_button{
	background-color:#003893;
    color: #ffffff;
    min-height: 40px;
    min-width: 120px;
    line-height: 1.3em;
    font-size: 18px;
    padding: 0px 10px;
	border:0;
	margin-left:5px;
	border-radius:5px;
}

.cancel--button
{
	display:none;
}

.main .form .form-row:nth-child(4) {
    background: red;
}

/* Dataline CSS Start */
.main.outerFrame{max-width: 730px;}
    .form-row {
        display: block;
        padding: 10px 0;
    }

    .form_label {
        width: 100%;
        display: inline-block;
        font-weight: 700;
    }

    .form-row_error {
        border: 1px solid;
        margin: 10px 0px;
        padding: 15px 10px 15px 50px;
        color: #d8000c;
        background-color: #ffbaba;
    }

    .credit-cards_container {
        margin-top: 8px;
    }

    .credit-cards_container-card {
        background: url(cards.png) no-repeat;
        width: 32px;
        height: 22px;
        display: inline-block;
    }

    .credit-cards_container--visa {
        background-position-y: -46px;
    }

    .credit-cards_container--visa.active {
        background-position-y: 0;
    }

    .credit-cards_container--mc {
        background-position: -39px -23px;
    }

    .credit-cards_container--mc.active {
        background-position: -39px 0px;
    }

    .credit-cards_container--amex {
        background-position: -78px -23px;
    }

    .credit-cards_container--amex.active {
        background-position: -78px 0px;
    }

    .credit-cards_container--di {
        background-position: -119px -23px;
    }

    .credit-cards_container--di.active {
        background-position: -119px 0px;
    }


    .form_button:disabled {
        background: #eaeaea;
        color: #999;
        cursor: pointer !important;
    }

    .form input.form_button{
        margin-top: 65px;
    }
		
	
	form input + div + div + div{
        clear: both;
    }

    .form input + .form-row_error + div + div + div{
        clear: both;
    }

    .form input + .form-row_error + div + div + div label{
        display: none;
    }

    .form input + div + div + div + div{
        display: none !important;
    }

    .form input + .form-row_error + div + div + div + div{
        clear: both;
    }

    .form input + .form-row_error + div + div + div {
        display: block !important;
    }

    .form .form-row_error + div + div + div + div {
        display: none !important;
    }

    .form input .form-row_error + div + div {
        display: block !important;
    }

    .form input + div .form-row_error{
        top:230px;
    }

    .form .form-row_error + div .form-row_error{
        top:230px;
    }

    .form .form-row_error + div .form-row_error + .form-row_error{
        top: 250px;
    } 

    .form input + div .form-row_error + div{
        top:250px;
    }

    .form input + div + div .form-row_error{
        top:190px;
    }

    .form input + div + div + div .form-row_error{
        top:210px;
    }

    .form input + .form-row_error + div + div + div .form-row_error{
        top:190px;
    }

    .form input + div + div + div label.form_label{
        display: none;
    }

    .form input + div.form-row_error + div + div label.form_label{
        display: block;
    }

    .form input + div + div + div::after{
        content: "CVV";
        position: absolute;
        left: 0;
        font-weight: 600;
        color: #333;
        padding: 0px;
        font-family: 'Lato', sans-serif;
        padding-left: 0px;
    }

    .form input + div.form-row_error + div + div::after{
        content: "";
        position: absolute;
        left: 0;
        font-weight: 600;
        color: #333;
        padding: 0px;
        font-family: 'Lato', sans-serif;
        padding-left: 10px;
    }

    .form input + div.form-row_error + div + div{
        clear: none;
    }

    .form input + div.form-row_error + div + div + div::after{
        content: "CVV";
        position: absolute;
        left: 0;
        font-weight: 600;
        color: #333;
        padding: 0px;
        font-family: 'Lato', sans-serif;
        padding-left: 10px;
    }

    .form input + div + div + div input{
        margin-top: 25px;
    }

    .form input + .form-row_error + div + div + div input{
        margin-top: 25px;
    }


    .form input + .form-row_error{ top:200px; }

    .form div.form-row_error {
        background: #fff;
        border: 1px solid #fff;
        position: absolute;
        padding: 0;
        left: 0;
    }
	

	
	.form div.form-row_error{background:#fff; border:1px solid #fff; position:absolute;padding: 0px 0px 0px 10px;left:0;}
	
	
    @media screen and (min-width: 768px) {
        .form_label {
            width: 225px;
            text-align: right;
        }

        .credit-cards_container {
            display: inline-block;
            margin: 0 0 0 12px;
            position: relative;
            top: 4px;
        }
    }

    @media screen and (max-width: 768px) {
		
        #credit-card-number,#cvv{width: 90% !important}
        #PaymentInformation .main form.form input.form_button{ margin-top: 70px; min-height: 33px;}
		
    }
	
	
	

    @media screen and (max-width: 480px) {
        #PaymentInformation .main .form .form-row{width: 100%;}
        #credit-card-number,#cvv{width: 80% !important}
        #PaymentInformation .main form.form input.form_button{ margin-top: 10px;}
		.main .form div.form-row{width:100%;}
		.form input.form_button{ margin-top: 5px;}
		.form input + div .form-row_error{top:360px;}
        .form input + div .form-row_error + div{top:380px;}
        .form input + div + div .form-row_error{top:320px;}
        .form input + div + div + div .form-row_error{top:340px;}
		.form input + .form-row_error{top: 320px;}
		
		
    }

    @media screen and (max-width: 360px) {
        #PaymentInformation .main .form .form-row{width: 100%;}
		.form div.form-row_error{width: 80%;}
    }
/*Dataline css end*/