<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400">
<link rel="stylesheet" href="https://www.aaa.com/AAA/023/header-footer-023/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/023/header-footer-023/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/023/header-footer-023/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/023/header-footer-023/css/style-icomoon.css">

<div class="wss-footer">
  <div class="pure-g wss-footer-group">
    <div class="pure-u-1 pure-u-sm-2-3 wss-custom-text">
      <p>
        &copy;&nbsp;2019&nbsp;AAA Hoosier
        |
        <a href="https://www.hoosier.aaa.com/privacy-policy">
          Privacy Notice
        </a>
        |
        <a href="https://www.hoosier.aaa.com/terms-conditions">
          Terms and Conditions
        </a>
        |
        <a href="http://www.aaa.com/stop">
          Go&nbsp;to&nbsp;Other&nbsp;AAA&nbsp;Clubs
        </a>
        <br>
        AAA Hoosier Motor Club proudly serves 50 of the 92 counties in Indiana. For a list of all the counties served, please
        <a href="https://www.hoosier.aaa.com/membership/aaa-hoosier-territory">
        click here
      </a>
      </p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 wss-slogan-logo">
      <img class="pure-img wss-footer-logo" src="https://www.aaa.com/AAA/023/header-footer-023/images/wss-aaa-logo.png" alt="AAA Logo" />
    </div>
  </div>
</div>
