<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/style-icomoon.css">

<div class="wss-footer">
  <div class="pure-g wss-footer-group">
    <div class="pure-u-1 pure-u-sm-2-3 wss-custom-text">
      <p>
        &copy;&nbsp;2019&nbsp;AAA&nbsp;Southern&nbsp;Pennsylvania
        |
        <a href="https://www.southpa.aaa.com/privacy-policy">
          Privacy Notice
        </a>
        |
        <a href="https://www.southpa.aaa.com/terms-conditions">
          Terms and Conditions
        </a>
        |
        <a href="http://www.aaa.com/stop">
          Go&nbsp;to&nbsp;Other&nbsp;AAA&nbsp;Clubs
        </a>
        <br>
        Servicing AAA members through eight offices in York, Franklin, Fulton, Bedford, Clearfield, Cambria, Clinton, and Centre Counties.
        <br />
        We also serve members in northern Somerset and western Cumberland Counties.
      </p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3 wss-slogan-logo">
      <img class="pure-img wss-footer-logo" src="https://www.aaa.com/AAA/238/header-footer-238/images/wss-aaa-logo.png" alt="AAA Logo" />
    </div>
  </div>
</div>
