<!-- WSS version 2019.08.22 -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/pure-min.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/grid.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/style.css">
<link rel="stylesheet" href="https://www.aaa.com/AAA/238/header-footer-238/css/style-icomoon.css">

<div class="wss-header">
  <div class="wss-header-group">
    <div class="wss-page-topbar">
      <div class="wss-region-topbar-container">
        <div id="wss-roadside-assistance-button">
          <a class="wss-roadside-assistance-text" href="http://www.aaa.com/roadside">
            Roadside Assistance
          </a>
        </div>
        <div class="wss-region-topbar">
          <div id="wss-topbar-left">
            <ul class="wss-menu-topbar">
              <li>
                <a href="https://www.southpa.aaa.com/search/office">
                  Locations
                </a>
              </li>
              <li class="wss-last">
                <a href="https://www.southpa.aaa.com/explore">
                  Explore Your AAA Publication
                </a>
              </li>
            </ul>
          </div>
          <div id="wss-topbar-right">
            <ul class="wss-menu-topbar">
              <li class="wss-last wss-menu-my-account">
                <a href="https://www.southpa.aaa.com/myaccount">
                  My Account
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wss-navbar">
      <div class="wss-region-header-container">
        <a class="wss-logo" href="https://www.southpa.aaa.com" title="Home">
          <img src="https://www.aaa.com/AAA/238/header-footer-238/images/wss-aaa-logo.png" alt="Home">
        </a>
        <label for="wss-show-menu" class="wss-show-menu">
          Menu
        </label>
        <input type="checkbox" id="wss-show-menu" role="button">
        <a class="wss-roadside-assistance-mobile wss-icon-towicon" href="http://www.aaa.com/roadside"></a>
        <ul id="wss-menu" class="percent-16-6">
          <li class="wss-menu-my-account">
            <a href="https://www.southpa.aaa.com/myaccount">
              My Account
            </a>
          </li>
          <li class="wss-menu-locations">
            <a href="https://www.southpa.aaa.com/search/office">
              Offices
            </a>
          </li>
          <li class="wss-menu-membership wss-main">
            <a href="https://www.southpa.aaa.com/membership">
              <span>
                Membership
              </span>
            </a>
          </li>
          <li class="wss-menu-discounts wss-main">
            <a href="https://www.southpa.aaa.com/discounts">
              <span>
                Discounts
              </span>
            </a>
          </li>
          <li class="wss-menu-travel wss-main">
            <a href="https://www.southpa.aaa.com/travel">
              <span>
                Travel
              </span>
            </a>
          </li>
          <li class="wss-menu-insurance wss-main">
            <a href="https://www.southpa.aaa.com/insurance">
              <span>
                Insurance
              </span>
            </a>
          </li>
          <li class="wss-menu-financial wss-main">
            <a href="https://www.southpa.aaa.com/financial">
              <span>
                Financial
              </span>
            </a>
          </li>
          <li class="wss-menu-auto-services wss-main">
            <a href="https://www.southpa.aaa.com/automotive">
              <span>
                Automotive
              </span>
            </a>
          </li>
          <li class="wss-menu-towicon">
            <a href="http://www.aaa.com/roadside">
              Need Emergency
              <br>
              Road Service?
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
