{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}}">

        <h1 class="post-title">{{title}}</h1>
    
    <section class="post-content">
            {{content}}
        </section>
    
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page 
{{pagination}}--}}
