{{!-- nav --}}
    <li class=" hidden-lg"><a href="#">My Account</a></li>
		{{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li><img src="{{asset "images/divder.png"}}">
        {{/foreach}}
   
