@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,300';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/*SCROLL*/
.scrollup {
  width: 47px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: #003893 url('../images/uparr-48-w.png') no-repeat;
  z-index:500
}

@media (min-width: 992px) and (max-width: 1868px) {
  .scrollup {
    right:25px;
  }
  .bottom-ad,
  .top-ad {
    margin-top:20px
  }
}

@media only screen and (max-width : 992px) {
  .scrollup {
    right:25px;
  }
  .bottom-ad, .top-ad {
    margin-top:20px
  }
}

main#content-wrapper div.content-main-wrapper div.hideload > div.col-12,
.hidden-lr-ads,
.visible-lr-ads,
footer nav img,
.tablet-ad img[src=""],
.bottom-ad .container {
  display: none;
}

.loaderPage {
  position: fixed;
  width:100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  opacity: 0.8;
  display: none;
  top:0;
  left:0;
}
.loaderPage img {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: auto;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width:650px) {
  .loaderPage img {
    width: 70px;
    height: 70px;
  }
}
