
/*!
 *Certificate Styles
 */
 
 html, body{background-color:#fff;}
.text-bigger { font-size:140%; }
.formArea-plugin .button { color:#ffffff !important; }
.formArea-plugin { padding:15px; }
.quick.content-form { border: 2px solid #e5e5e5; width: 75%; }
@media (max-width: 768px) {
.quick.content-form{width:95%;}
}
.quick.content-form table {
    margin-left: 0px;
    margin-right:.4rem;
}
.quick.content-form td:nth-child(odd) { font-weight:bold; }
.tableBlock {
    background-color: #FAFAFA;
    padding-left:.4em;
    padding-right:.4em;
}
.white-heading, .grey-heading {
    padding: 11px;
    margin-top: 0px;
}
.grey-heading {
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
}
.white-heading {
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.tableBlock .grey-heading {
    margin-left:-.4em;
    margin-right:-.4em;
}
.bottom-align-text {
    padding: 8px 0px!important;
    margin: 0px;
    text-align: right;
}
.quick.content-form::after {
    clear: both;
    display: block;
    content: "";
}
table > tbody > tr > td { vertical-align: bottom !important; }
.formArea-plugin .button { line-height:2em; }
.formArea-plugin i { font-size: 1em; }
@media screen and (max-width:992px) {
	.field.payment-2, .field.payment-1 { width:100% !important; }
	.field.payment-2 .tableBlock { height:auto !important; }
}
@media screen and (max-width:576px) {
	.formArea-plugin { padding:0; }
	.existingCard .lastDigits {
		bottom: 54px;
		right: 26px;
	}
	.existingCard .experation {
		bottom: 29px;
		left: 55px;
	}
	.existingCard .cardholder {
		bottom: 7px;
		left: 15px;
	}
	.existingCard .cardBrand {
		position: absolute;
		bottom: unset;
		top: 36px;
		right: 8px;
	}
	.existingCard img {
		max-width: 100%;
	}

}
#term_service
{
	white-space : pre-line;
}
